*{
    background-color: rgb(41, 42, 44);
    color:rgb(85, 82, 82);
    font-family: 'Courier New', Courier, monospace;
}

header, nav, h2{
    background-color: rgb(227, 236, 236);
    text-align: center;
    padding: 2px;
    
}
    

nav{
    padding: 10px;
    text-align: right;
}

a {
    background-color: blue;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}